* {
  box-sizing: border-box;
}

html,
body {
  font-family: 'circular';
  background-color: black;
  color: white;
}

html,
body,
p {
  margin: 0;
  padding: 0;
}

.hover p:hover,
.hover a:hover {
  font-weight: bolder;
  transform: scale(1.1);
  cursor: pointer;
}

.hover i:hover {
  color: grey;
  cursor: pointer;
}

@media screen and (max-width: 991px) {
  .navigation {
    position: fixed;
    bottom: 0;
    height: 60px;
    margin-bottom: 20px;
  }

  .bi-house-door-fill,
  .bi-search,
  .bi-collection {
    font-size: 1.3em;
  }
}

main {
  background-color: #121212;
}

.cardDiv:hover {
  /* transform: scale(1.05); */
  background-color: #1d1c1c;
  cursor: pointer;
}

.imgsDiv {
  min-width: 82px;
  max-width: 100px;

  min-height: 82px;
  max-height: 100px;
}
